<!doctype html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Site NAMA</title>
  <link rel="stylesheet" href="Static/css/style1.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="shortcut icon" type="image/jpg" href="Static/images/TODO.gif">

</head>

<body>
  <nav class="navbar navbar-expand-xl navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="" height="40px" alt="logo à ajouter">
        NAMA
      </a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/index.html">Accueil</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container-fluid" id="mainbody">
    <h1>
      NAMA
    </h1>
    <div class="text-center" id="vue">
      <h2>Page d'accueil NAMA </h2>
      <img src="Static/images/TODO.gif" alt="logo à ajouter">
      <br>
      <input v-model="texttest">
      <br>
      {{texttest}}
      <br>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Référence</th>
            <th scope="col">Formes</th>
            <th scope="col">Graphes (en cours)</th>
          </tr>
        </thead>
        <tbody>
          <tr is="tableline" v-for="item in datalist" v-bind:item="item" v-bind:key="item['_xml:id']"></tr>
        </tbody>
      </table>
      {{datalist}}
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <!--<script src="https://unpkg.com/vue@next"></script>-->
  <script src="Static/js/script.js" type="module"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
  <script src="https://unpkg.com/vue-chartjs/dist/vue-chartjs.min.js"></script>


</body>


</html>