body {
  background-color: #e6ffcc !important;
}

#variation {
  color: blue !important;
}

#translation {
  color: red !important;
}

#synonym {
  color: green !important;
}

#chart {
  height: 150px;
}